# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.SolarDefender.iml
# Datasource local storage ignored files
/../../../../../../../../:\UE4\Projects\5\SolarDefender\.idea\.idea.SolarDefender\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
